# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/
faq/

# FAISS Index (Generated)
faq_bot/data/faq_index/

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db
